/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* CSS RESET END */
html {
    color: white;
    font-family: Tahoma, serif;
    background: linear-gradient(to bottom, #fff051, #a88f0f) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    display: table;
    width: 100%;
    max-width: 2000px;
    margin: auto;
}

a:link {
    text-decoration: none;
    color: #feda3e;
}

a:visited {
    text-decoration: none;
    color: #fff051;
}

a:hover {
    text-decoration: underline;
    color: #ae952a;
}

header {
    text-align: center;
    padding: 40px;
}

header img { /*MENU1*/
    transition: all 0.1s ease-in;
}

header img:hover {
    transform: scale(1.05);
}

nav {
    float: left;
    margin-bottom: 15px;
    background-color: #232323;
    width: 96%;
    height: auto;
    padding: 2%;
    text-align: left;
    word-spacing: 1em;
}

nav a:link { /*MENU1*/
    font-size: 1.3em;
    font-family: arial, serif;
    color: #ffffff;
    text-shadow: 3px 1px 9px rgba(255, 221, 124, 1);
    text-decoration: none;
    transition: all 0.3s ease-in;
    transition-property: box-shadow, background-color;
    padding: 1.5em;
}

nav a:hover {
    background-color: #ff3242;
    box-shadow: 5px 5px #1d1d1d;
    text-shadow: 2px 2px 3px #1d1d1d;
    font-size: 1.3em;
    font-family: Arial, serif;
    text-decoration: none;
}

main {
    float: left;
    background-color: rgba(0, 0, 0, 0.5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3332FA32, endColorstr=#3332FA32);
    zoom: 1;
    min-height: inherit;
    width: 65%;
    margin-top: 0;
    margin-left: 5%;
    word-wrap: break-word;
    opacity: 3;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

main li {
    list-style: decimal;
    padding: 5px 5px 5px 15px;
    margin-left: 45px

}

main input {
    margin: 20px;
}

aside {
    float: left;
    width: 24%;
    margin-top: 0;
    margin-right: 5%;
    word-wrap: break-word;
}

aside.top {
    width: 88%;
    padding: 6%;
    background-color: #232323;
    margin-bottom: 15px;
}

aside.bottom {
    background-color: rgba(0, 0, 0, 0.5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3332FA32, endColorstr=#3332FA32);
    zoom: 1;
    margin-top: 0;
    margin-left: 1%;
    opacity: 3;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

aside.bottom p {
    padding: 15px;
}

footer {
    float: left;
    background-color: #232323;
    width: 90%;
    margin-top: 1%;
    margin-left: 5%;
    border-radius: 10px;
}

footer p {
    text-align: center;
}

.zaokTOP {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

h1{
    text-align: center;
    font-size: 2em;
}

p {
    color: #fff;
    text-align: justify;
    margin: 0;
    padding: 30px;
}

pre {
    background-color: #232210;
    overflow: no-content;
    color: yellow;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 10px;
    padding: 3%;
}


@media screen and (max-width: 1000px) {
    nav {
        float: none;
        width: 96%;
    }

    main, aside.bottom {
        font-size: 140%;
        width: 100%;
        padding: 0;
        margin-top: 1%;
        margin-right: auto;
        margin-left: auto;
    }

    main ol {
        padding-left: 10%;
        padding-right: 10%;
    }

    aside.top {

        font-size: 140%;
    }

    footer {
        width: 100%;
        margin-top: 1%;
        padding: 0;
        margin-right: auto;
        margin-left: auto;
    }

    footer p {
        text-align: center;
        padding: 15px;
    }
}

