/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* CSS RESET END */

@font-face {
    font-family: Digital;
    font-display: auto;
    src: url(../font/digital-7mono.ttf);
}


html {
    color: white;
    font-family: Tahoma, serif;
    font-min-size: 12px;
    line-height: 1em;
    background: linear-gradient(to bottom right, #fff051, #a88f0f) no-repeat center center fixed;
    background-size: cover;
}

body {
    display: table;
    width: 100%;
    max-width: 2000px;
    margin: auto;
}

a:link {
    text-decoration: none;
    color: #feda3e;
}

a:visited {
    text-decoration: none;
    color: #fff051;
}

a:hover {
    text-decoration: underline;
    color: #ae952a;
}

#breadcrumb {

}

header {
    text-align: center;
    padding: 40px;
}

header img {
    width: 10%;
    height: 10%;
    transition: all 0.1s ease-in;
}

header img:hover {
    transform: scale(1.05);
}

nav {
    float: none;
    margin-bottom: 15px;
    background-color: #232323;
    width: 96%;
    height: auto;
    padding: 2%;
    text-align: left;
    word-spacing: 1em;
}

nav a:link { /*MENU1*/
    font-size: 1.3em;
    font-family: arial, serif;
    color: #ffffff;
    text-shadow: 3px 1px 9px rgba(255, 221, 124, 1);
    text-decoration: none;
    transition: all 0.3s ease-in;
    transition-property: box-shadow, background-color;
    padding: 0.5em;
}

nav a:visited {
    color: #ffffff;
}

nav a:hover {
    background-color: #c82e39;
    box-shadow: 5px 5px #1d1d1d;
    text-shadow: 2px 2px 3px #1d1d1d;
    font-size: 1.3em;
    font-family: Arial, serif;
    text-decoration: none;
}

main {
    float: left;
    background-color: rgba(0, 0, 0, 0.5);
    min-height: inherit;
    width: 65%;
    margin-top: 0;
    margin-left: 5%;
    word-wrap: break-word;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

main li {
    list-style: decimal;
    padding: 5px 5px 5px 15px;
    margin-left: 45px
}

main input {
    margin: 20px;
}

aside {
    font-size: 1.3em;
    float: left;
    width: 24%;
    margin-top: 0;
    margin-right: 5%;
    word-wrap: break-word;
}

aside.top {
    text-align: center;
    width: 91.2%;
    padding: 4.3%;
    background-color: #232323;
    margin-bottom: 15px;
}

aside.bottom {
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: 1%;
    margin-bottom: 1%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

aside.bottom p {
    padding: 15px;
}

footer {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #232323;
    width: 90%;
    margin-top: 1%;
    margin-left: 5%;
    margin-bottom: 1%;
    border-radius: 10px;
}

footer p {
    display: inline-block;
    position: relative;
    text-align: center;
}

footer img {
    display: inline-block;
    float: right;
    margin-top: 2.5%;
    padding-right: 15px;
    width: 30px;
    height: 30px;
}

#zegar {
    font-size: 2em;
    font-family: Digital, monospace;
    text-align: center;
    margin-top: 20%;
    margin-bottom: 5%;
}

.tarcza {
    display: inline-block;
    background: #232323;
    width: 2ch;
    padding: 25px 20px;

}

.tarcza:before {
    color: rgba(255, 255, 255, 0.16);
    position: absolute;
    content: "88";
}


.blush {
    color: white;
    animation: blush 1s infinite;
    animation-direction: normal;
}

@keyframes blush {
    0% {
        color: #cacaca
    }
    5% {
        color: white;
    }
    95% {
        color: white;
    }
    100% {
        color: #cacaca;
    }
}

.zaokTOP {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.zaokBOTTOM {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}


h1 {
    font-family: "Times New Roman";
    text-align: center;
    font-size: 2em;
    padding: 30px;
}

p {
    color: #fff;
    text-align: justify;
    margin: 0;
    padding: 30px;
}

pre {
    font-family: Consolas, monospace;
    background-color: #1a190d;
    overflow: no-content;
    color: yellow;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 10px;
    padding: 3%;
}


@media screen and (max-width: 1100px) {
    .tarcza {
        font-size: 0.8em;
        padding: 15px 10px;
    }
}

@media screen and (max-width: 1000px) {
    body {
        line-height: 1.2em;
    }

    header img {
        width: 20%;
        height: 20%;
    }

    nav {
        float: none;
        width: 96%;
    }

    main, aside.bottom {
        font-size: 1em;
        width: 100%;
        padding: 0;
        margin-top: 1%;
        margin-right: auto;
        margin-left: auto;
    }

    main ol {
        padding-left: 1%;
        padding-right: 10%;
    }

    aside.top {
        width: 96%;
        font-size: 2em;
        padding: 15px;
    }

    #zegar {
        margin-top: 5%;
        margin-bottom: 1%;
    }

    .tarcza {
        font-size: 2em;
        padding: 40px 20px;
    }

    pre {
        font-size: 1.6em;
        line-height: 1.1em;
    }

    footer {
        width: 100%;
        margin-top: 1%;
        padding: 0;
        margin-right: auto;
        margin-left: auto;
    }

    footer p {
        text-align: center;
        padding: 15px;
    }

    @media screen and (max-width: 400px) {
        nav {
            line-height: 50px;
        }
    }
}

